<?xml version="1.0"?>
<launch>
  <arg name="laser_enabled" default="false" />
  <arg name="camera_enabled" default="true" />

  <include file="$(find jaguar4x4wheel_base)/launch/base.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="camera_enabled" value="$(arg camera_enabled)"/>
  </include>

  <include if="$(arg laser_enabled)" file="$(find jaguar4x4wheel_bringup)/launch/laser_config/laser.launch"/>

  <include if="$(arg camera_enabled)" file="$(find jaguar4x4wheel_bringup)/launch/camera_config/camera.launch"/>

  <include file="$(find jaguar4x4wheel_bringup)/launch/imu_config/imu.launch"/>

  <!--<include file="$(find jaguar4x4wheel_bringup)/launch/navsat_config/navsat.launch"/>-->

</launch>
