<?xml version="1.0"?>
<robot name="jaguar4x4wheel_robot_gazebo" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="laser_enabled" default="false" />
  <xacro:arg name="camera_enabled" default="false" />
  <xacro:arg name="navsat_enabled" default="false" />

  <xacro:include filename="$(find jaguar4x4wheel_description)/urdf/jaguar4x4wheel.urdf.xacro" />
  <xacro:include filename="$(find jaguar4x4wheel_gazebo)/urdf/jaguar4x4wheel.gazebo.xacro" />

  <!-- Gazebo plugin for ROS Control -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
  </gazebo>

  <xacro:jaguar4x4wheel />

  <xacro:jaguar4x4wheel_robot_gazebo />

</robot>
